{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1 class="mt-4">{{ job.position }}</h1>

            <p class="lead">
                by
                <a href="#">{{ job.company }}</a>
            </p>

            <hr>

            <p>Created on {{ job.createdAt.format('d-m-Y') }}</p>

            <hr>

            <img class="img-fluid rounded" src="{{ jobs_upload_path ~ job.logo }}" alt="logo">

            <hr>

            <p class="lead">{{ job.description }}</p>

            <p>{{ job.howToApply }}</p>
        </div>

        <div class="col-md-3">
            <div class="card my-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location: {{ job.location }}</li>
                    <li class="list-group-item">Contact: <a href="#">{{ job.email }}</a></li>
                    <li class="list-group-item">Category: {{ job.category.name }}</li>
                </ul>
            </div>

            {% if withActions is defined and withActions %}
                <div class="card my-5">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="font-weight-bold text-muted">Expiration: {{ job.expiresAt|time_diff }}</span>
                        </li>
                        {% if not job.activated %}
                            <li class="list-group-item">
                                <form method="POST" action="{{ url('job.publish', {'token': job.token}) }}">
                                    <input type="hidden" name="_method" value="PATCH" />
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('publish-token') }}" />

                                    <button class="btn btn-primary btn-block btn-sm" type="submit">
                                        <i class="fas fa-paper-plane" aria-hidden="true"></i> Publish
                                    </button>
                                </form>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <a href="{{ url('job.edit', {'token': job.token}) }}" class="btn btn-warning btn-block btn-sm">
                                <i class="far fa-edit" aria-hidden="true"></i> Edit
                            </a>
                        </li>
                        <li class="list-group-item">
                            <form method="POST" action="{{ url('job.delete', {'token': job.token}) }}">
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-token') }}" />

                                <button class="btn btn-danger btn-block btn-sm" type="submit">
                                    <i class="fas fa-trash-alt" aria-hidden="true"></i> Delete
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
