{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-3 p-3 bg-white rounded box-shadow mt-5 pt-5">

        {% if categories is not empty %}
            {% for category in categories %}

                <h3><a href="{{ path('categories.show', {'slug': category.slug}) }}">{{ category.name }}</a></h3>

                <table class="table table-hover table-bordered">
                    <thead>
                    <tr class="flex">
                        <th>Type</th>
                        <th>Company</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in category.jobs | slice(0, 10) %}
                        <tr>
                            <td width="30%"><a href="{{ path('jobs.show', {'id': job.id}) }}">{{ job.type }}</a></td>
                            <td width="40%">{{ job.company }}</td>
                            <td>{{ job.location }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>


                {% if not loop.last %}
                    <hr>
                {% endif %}

            {% endfor %}
        {% else %}
            <p>No available</p>
        {% endif %}

    </div>

{% endblock %}
